
.header-bg {
  background-color: #000000;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-items: center;
  box-sizing: border-box;
  padding: 1.25rem;
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;

  a {
    color: #fff;
    display: inline-block;
    padding: 1rem 1rem;
    font-size: 1.125rem;
    position: relative;
    font-family: 'Poppins';
    font-weight: 400;
  }
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  margin-top: 4px;
  background: #fff;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
  transition: 0.3s;
}

@media (max-width: 700px) {
  .header-menu {
    gap: 0.8rem;
  }

  .header-menu a {
    padding: 8px 12px;
    gap: 0;
    font-size: 14px;
    
  }

  .header-menu a::after {
    display: none;
  }

  .header-menu a:hover {
    background-color: #2e2e2e;
  }
}
