.button {
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: bold;
  padding: 1rem 2rem;
  color: var(--p5);
  display: inline-block;
  background: linear-gradient(var(--btg2), var(--btg1));
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0,0, .1);
  text-transform: uppercase;
}

.button:hover{
   background: linear-gradient(var(--g1), var(--g2));
}


@media (max-width: 800px){
  .button {
  font-size: 1rem;
  padding: 1rem;
  justify-self: center;
  display: block;
}
}